.aInput {
    margin: 15px;
}
body {
    margin-left: 15px;
    margin-right: 15px;
}
div h3 {
    margin: 25px;
}
.morePad {
    padding-top: 5px;
    padding-bottom: 5px;
}
h1 {
    padding: 30px;
}
.headOne {
    background-color: bisque;
}
.rowDark {
    background-color: darkgray;
}
td, .table td, .table th {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.table {
    margin-bottom: 0;
}
.removeEmployee {
    text-align: center;
    position: relative;
}